[submodule "FSO_part9/patientor-frontend"]
	path = FSO_part9/patientor-frontend
	url = https://github.com/maxperala/patientor
[submodule "FSO_part11/own-pipeline"]
	path = FSO_part11/own-pipeline
	url = https://github.com/maxperala/tampereen-ladut-cicd
[submodule "FSO_part11/pokedex"]
	path = FSO_part11/pokedex
	url = https://github.com/maxperala/full-stack-open-pokedex
